@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

button, .number-btn {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  background-color: #f25f3a;
  color: #fafafa;
  transition: all 0.5s ease-in-out;
}

button:hover, .number-btn:hover {
  box-shadow: 1px 3px 10px #242d52;
  cursor: pointer;
}

.attribution {
  background-color: #1d1e25;
  color: #fafafa;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: #f25f3a;
}

.overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3 {
  color: #1d1e25;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.25rem, 4vw, 3rem);
  margin-bottom: 1.5rem;
}

h3 {
  font-size: clamp(1.15rem, 2.5vw, 1.75rem);
  margin-bottom: 1.5rem;
}

p {
  color: #9095a7;
}

.btn-center {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.logo:hover {
  cursor: pointer;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  margin-right: 1rem;
}

.swiper {
  position: relative;
  min-width: 300px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 3rem 5%;
  z-index: 2;
}
header img {
  margin: auto 0;
}

.navbar ul li {
  display: inline;
  padding: 0 0.5rem;
}
.navbar ul li a {
  text-decoration: none;
  color: #1d1e25;
  transition: color 0.25s ease-in-out;
}
.navbar ul li a:hover {
  cursor: pointer;
  color: #9095a7;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: #1d1e25;
}

.section-home {
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../images/bg-simplify-section-desktop.svg");
}
.section-home-image img {
  width: 100%;
}
.section-home-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.section-home-text p {
  font-size: clamp(1rem, 2vw, 2rem);
}
.section-info {
  margin: 3rem 5%;
  display: grid;
  grid-template-areas: "zero one" "zero two" "zero three";
  grid-template-columns: repeat(2, 1fr);
}
.section-info-title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1rem 0;
}
.section-info-body p {
  margin-bottom: 1.5rem;
}
.section-info-zero {
  grid-area: zero;
}
.section-info-one {
  grid-area: one;
}
.section-info-two {
  grid-area: two;
}
.section-info-three {
  grid-area: three;
}
.section-testimonial {
  margin: 3rem 0;
}
.section-testimonial-grid {
  width: 100%;
  text-align: center;
}
.section-testimonial-grid__user {
  background-color: #fafafa;
  padding: 1rem;
}
.section-testimonial-grid__user-image {
  display: flex;
  justify-content: center;
}
.section-testimonial-grid__user-image img {
  transform: translateY(-50%);
}
.section-testimonial h2 {
  text-align: center;
  margin-bottom: 5rem;
}
.section-get-started {
  padding: 3rem 5%;
  background-color: #f25f3a;
  display: grid;
  grid-template-areas: "text . btn";
  grid-template-columns: 2fr 1fr 1fr;
}
.section-get-started__text {
  grid-area: text;
  color: #fafafa;
}
.section-get-started__btn {
  grid-area: btn;
  color: #f25f3a;
  background-color: #fafafa;
  margin: auto;
}
.section-footer {
  padding: 3rem 5%;
  background-color: #1d1e25;
  display: grid;
  grid-template-areas: "logo list1 list2 subscribe" "social list1 list2 copyright";
  grid-template-columns: repeat(4, 1fr);
  color: #9095a7;
}
.section-footer a {
  grid-area: logo;
}
.section-footer a:hover {
  cursor: pointer;
}
.section-footer .social {
  grid-area: social;
  display: flex;
  justify-content: space-between;
}
.section-footer .social img {
  width: 40px;
  margin: auto;
  transition: all 0.25s ease-in-out;
}
.section-footer .social img:hover {
  cursor: pointer;
  transform: scale(1.25);
}
.section-footer-text:nth-child(1) {
  grid-area: list1;
}
.section-footer-text:nth-child(2) {
  grid-area: list2;
}
.section-footer-text li {
  list-style-type: none;
}
.section-footer .subscribe {
  grid-area: subscribe;
}
.section-footer p {
  grid-area: copyright;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  input {
    width: 80%;
    height: 4rem;
    margin-bottom: 2rem;
  }

  header {
    padding: 1rem 5%;
  }

  h1,
h2,
h3 {
    text-align: center;
  }

  h3 {
    margin: 0.25rem 0;
  }

  .swiper {
    width: 70%;
  }

  .navbar {
    display: none;
    position: fixed;
    width: 90%;
    margin: 3rem auto;
    background-color: #fafafa;
    text-align: center;
    z-index: 3;
    animation: slide-in 0.5s ease-out;
  }
  .navbar ul li {
    display: block;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    font-weight: 700;
    color: #1d1e25;
  }

  .hamburger {
    display: block;
  }

  header button, header .number-btn {
    display: none;
  }

  .section-home {
    grid-template-columns: 1fr;
  }
  .section-home-text {
    order: 2;
    text-align: center;
  }
  .section-home-text p {
    margin: 2rem 0;
  }
  .section-home-text button, .section-home-text .number-btn {
    margin: 0 auto;
  }
  .section-home-image {
    order: 1;
  }
  .section-info {
    grid-template-areas: "zero" "one" "two" "three";
    grid-template-columns: 1fr;
  }
  .section-info-zero p {
    text-align: center;
    margin-bottom: 2rem;
  }
  .section-testimonial-grid {
    grid-template-columns: 1fr;
    margin: 2rem 5%;
  }
  .section-footer {
    grid-template-areas: "subscribe subscribe" "list1 list2" "social social" "logo logo" "copyright copyright";
    grid-template-columns: repeat(2, 1fr);
  }
  .section-footer p {
    margin-top: 2rem;
    text-align: center;
  }
  .section-footer .social {
    margin: 2rem 0;
  }
  .section-footer a {
    margin: 2rem auto;
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 480px) {
  input {
    width: 70%;
    height: 3rem;
  }

  .swiper {
    width: 90%;
  }

  .section-get-started {
    grid-template-areas: "text" "btn";
    grid-template-columns: 1fr;
  }
}